html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: #70488D;
}

#head {
  background: linear-gradient(to bottom, #BC7FB6 0%, #70488D 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
}

#logo {
  height: 30px;
  width: 30px;
  border-radius: 10%;
  margin-right: 15px;
}

#navbar-title {
  color: #EEEEEE;
  opacity: 0; /* Start with the title invisible */
  transition: opacity 0.15s ease-in-out; /* Smooth transition */
  font-family: Helvetica;
  margin: 0;
  font-size: 24px;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #666666;
  margin-left: 15px;
}

nav a:hover {
  text-decoration: underline;
}

.buttons {
  color: #EEEEEE;
  font-family: Helvetica;
  font-weight: bold;
}

/*----------------------Sunset Photo and Below---------------------*/

.page-text{
  font-family:Helvetica;
  margin-left:5px;
  color:#DFDFDF;
}

.container2 {
        max-width: 1000px;
        margin: 0 auto; /* Center the container horizontally */
        padding: 0 20px; /* Padding for better readability */
        background-color:#70488D;
    }

#title-text {
  text-align: center;
  font-family: Helvetica;
  font-size: 70px;
  color: white;
  letter-spacing: 7px;
  opacity: 100; /* Title is initially visible */
  transition: opacity 0.15s ease-in-out; /* Smooth transition for the fade in and out */
}


  .sunset {
    display: flex;
    height: 72vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('tree.jpeg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed; /* This can be removed if the parallax effect is purely JavaScript driven */
  }

/*----------------------Meet The Team----------------------*/
.team-section {
  text-align: center;
  margin: 50px 0; /* Space around the section */
}

.profile {
  display: inline-block; /* Profiles side by side */
  margin: 0 20px; /* Space between profiles */
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Make the images round */
  background-color: #c0e1fa;
}

.profile-name {
  margin-top: 10px; /* Space between image and name */
  font-size: 20px; /* Font size for the name */
}

.profile-social { /* Social Media Handle */
  font-size: 16px;
  color: #AAAAAA;
}

.profile-name, .profile-social {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px
}

/*----------------------Contact Us----------------------*/
.social-icon {
  width:55px;
  height:55px;
}


@media (max-width: 768px) {
  #title-text {
    font-size: 50px; /* Smaller font size for small devices */
  }
}

@media (max-width: 480px) {
  #title-text {
    font-size: 40px; /* Even smaller font size for phones */
  }
}
